mi-nav {
  display: block;
    var(--colorMiNav);
}

mi-nav ul {
    background-color:rgb(131, 182, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

mi-nav ul li {
  margin: 0px;
  background-color:rgb(131, 182, 173);
   height: 10%;
  width: 31%;
}
